


.button {
    background-color: #117a6c;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 45%;
  }